.Card {
  display: inline-block;
  text-align: center;
  width: 4.3em;
  height: 7.6em;
  /* border: 1px solid #666; */
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  padding: 0.25em;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  position: relative;
  padding-right: 40px;
}

img {
  width: 80px;
  height: 80px;
  display: "inline-flex";
  justify-content: center;
}
