.Table {
  background-color: green;
  height: 500px;
  width: 70%;
  border-radius: 50%;
  margin: 0 auto;
  border: 1em solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}

.Table2 {
  background-color: green;
  height: 500px;
  width: 80%;
  border-radius: 30%;
  margin: 0 auto;
  border: 1em solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}

.Btn {
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 1.1em;
  font-size: 1.1em;
  background: rgb(202, 60, 60);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.Btn:hover {
  color: rgb(202, 60, 60);
  background: white;
}

.Deck {
  padding-left: 70%;
  margin-bottom: 0px;
  position: relative;
}

.Player {
  text-align: center;
}

.EndGame {
  text-decoration: line-through;
}
