.Btn {
  background: rgb(202, 60, 60);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.Btn:hover {
  color: rgb(202, 60, 60);
  background: white;
}

.Btn:disabled {
  color: rgb(245, 245, 245);
  background: rgb(172, 172, 172);
}
